* {
    padding: 0;
    margin: 0;
}

.container {
    width: 100rem;
    margin: auto;
}

.subcontainer {
    width: 85%;
    margin: auto;
}
img{
    display: inline-block;
    padding-left:44%;
    width: 15%;
}

#cookies {
    width: 100%;
    position: fixed;
    bottom: 0;
    color: black;
    Background-color: Gray;
    z-index: 1;
    /* display: none; */
}

.cookies {
    min-height: 4.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.cookies a {
    color: blue;
    font-weight: 500;
    text-decoration: none;
}

#cookies-btn {
    border-radius: 5px;
    padding: 8px 12px 8px 12px;
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;
    border: 3px solid white;
    background-color: black;
    color: white;
}

@media(max-width:1600px) {
    .container {
        width: 100%;
    }
}

@media(max-width:1024px) {
    .cookies {
        padding: 10px 0;
    }
}

#captchaBackground {
    height: 13.75rem;
    width: 15.625rem;
    background-color: #255fc2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#captchaHeading {
    color: white;
}

#captcha {
    height: 80%;
    width: 80%;
    font-size: 2rem;
    letter-spacing: 3px;
    margin: auto;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loginButton {
    float:right;
    height:2.3rem;
    width:4rem;
    background-color:rgb(242, 242, 242);
    border: none;
}

#submitButton {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #ffffff;
    border: 0px;
    font-weight: bold;
    color: black;
}

#refreshButton {
    border: 0px;
    font-weight: bold;
}

#textBox {
    height: 1.7rem;
}

.incorrectCaptcha {
    color: #FF0000;
}

.correctCaptcha {
    color: #2bff00;
}






#captchaBackground {
    height: 220px;
    width: 250px;
    background-color: #255fc2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   }
   #captchaHeading {
    color: white;
   }
   #captcha {
    height: 80%;
    width: 80%;
    font-size: 30px;
    letter-spacing: 3px;
    margin: auto;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
   }
   .center {
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   #submitButton {
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: #ffffff;
    border: 0px;
    font-weight: bold;
    color: black;
   }
   #refreshButton {
    border: 0px;
    font-weight: bold;
   }
   #textBox {
    height: 25px;
   }
   .incorrectCaptcha {
    color: #FF0000;
   }
   .correctCaptcha {
    color: #7FFF00;
   }
   
